<h2><%= @user.username %></h2>
<% if current_user?(@user) %>
  <div class="actions">
    <div>
      <%= link_to "Edit Account", edit_user_path(@user), class: "btn" %>
    </div>
    <div>
      <%= button_to "Delete Account", @user, method: :delete,
                    class: "btn-danger" %>
    </div>
  </div>
<% end %>
